@charset "UTF-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #4D4D4D;
}
.sp-btn {
  display: none;
}
/* header */
.header {
  align-items: center;
  max-width: 1126px;
  margin: 0 auto;
}
.header-contents {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding: 36px 0;
}
.header-btn {
  display: flex;
  padding: 18px 0;
  column-gap: 18px;
}
.tel-reserve-btn {
  padding: 6px 14px;
  border: solid 1px #4D4D4D;
  text-align: center;
}
.reserve-title {
  font-size: 16px;
  line-height: 1.5;
}
.reserve-tel-img{
  padding-right: 2px;
}
.reserve-tel-text {
  font-size: 24px;
  padding-bottom: 5px;
}
.reserve-tel-img {
  vertical-align: -1px;
}
.reserve-time {
  padding: 0 26px;
  background-color: rgb(247, 172, 186,0.3);
}
.reserve-time-text {
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
.web-reserve-btn {
  position: relative;
  width: 188px;
  padding: 14px 36px;
  background-color: #D66880;
  text-align: center;
  outline:solid 1px #fff;
  outline-offset: -6px;
}
.triangle {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-top: 26px solid transparent;
  border-right: 26px solid #fff;
  border-left: 26px solid transparent;
}
.web-reserve-title {
  font-size: 28px;
  color: #fff;
  padding: 2px 0;
}
.web-reserve-text {
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}
/* mv */
.mv {
  background-image: url(../image/pc-mv.jpg);
  height: 528px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.mv-contents {
  max-width: 1126px;
  margin: 0 auto;
}
.mv-copy {
  padding-top:  209px;
}
.mv-list {
  padding-top: 32px;
  padding-bottom: 120px;
}
.mv-item {
  padding-bottom: 11px;
  
}
.mv-icon {
  padding-right: 6px;
}
.mv-text {
  font-size: 16px;
  line-height: 1.8;
  display: inline-block;
  border-bottom: solid 1px #D66880;
  padding-bottom: 8px;
}
/* 共通部分 */
.section-title {
  text-align: center;
}
.section-heading {
  font-size: 24px;
  line-height: 1.4;
  display: inline-block;
  border-bottom: solid 1px #D66880;
  padding-bottom: 12px;
}
/* concept */
.concept {
  max-width: 1126px;
  margin: 0 auto;
  padding-top: 68px;
}
.concept-point01,.concept-point02,.concept-point03 {
  margin-top: 84px;
  margin-bottom: 112px;
  display: flex;
}
.concept-point-wrapper {
  position: relative;
  z-index: 2;
  width: 555px;
  height: 305px;
  margin-top: 50px;
  background-color: #FDF8F9;
  border-radius: 10px;
  box-shadow: 10px 7px 10px rgb(126, 5, 27,0.16);
}
.concept-point-wrapper-point02 {
  position: relative;
  z-index: 2;
  left: 50%;
  width: 555px;
  height: 305px;
  margin-top: 50px;
  background-color: #FDF8F9;
  border-radius: 10px;
  box-shadow: 10px 7px 10px rgb(126, 5, 27,0.16);
}
.concept-point01:before {
  position: absolute;
  z-index: 3;
  bottom: -188px;
  content: 'Point 01';
  font-family: brandon-grotesque, sans-serif;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  color: rgb(214, 104, 128,0.8);
  text-shadow: 0 2px 2px #C4C0C1;
  
}
.concept-point02:before {
  position: absolute;
  z-index: 3;
  bottom: -655px;
  right: 555px;
  content: 'Point 02';
  font-family: brandon-grotesque, sans-serif;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  color: rgb(214, 104, 128,0.8);
  text-shadow: 0 2px 2px #C4C0C1;
  
}
.concept-point03:before {
  position: absolute;
  z-index: 3;
  bottom: -1124px;
  content: 'Point 03';
  font-family: brandon-grotesque, sans-serif;
  font-size: 50px;
  letter-spacing: 0.05em;
  line-height: 1.4;
  color: rgb(214, 104, 128,0.8);
  text-shadow: 0 2px 2px #C4C0C1;
  
}
.concept-point-contents {
  margin: 7% 8%;
}
.concept-point-contents-point02 {
  margin: 15% 6%;
}
.concept-point-contents-point03 {
  margin: 12% 7%;
}
.concept-heading {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin-bottom: 23px;
}
.concept-text {
  font-size: 16px;
  line-height: 2.1;
}
.concept-img {
  position: absolute;
  z-index: 1;
  right: 13%;
}
.concept-img-point2 {
  position: absolute;
  z-index: 1;
}
/* about */
.about {
  padding-top: 80px;
  background-color: rgb(238, 238, 238,0.4);
}
.about-contents {
  max-width: 1126px;
  margin: 0 auto;
  margin-top: 27px;
}
.about-text {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
/* service */
.service {
  padding-top: 67px;
  padding-bottom: 40px;
  background-color: rgb(238, 238, 238,0.4);
}
.service-wrapper {
  max-width: 1054px;
  margin: 0 auto;
  margin-top: 56px;
}
.service-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
}
.service-heading {
  font-size: 24px;
  display: inline-block;
  line-height: 1.4;
  background-color: #FCE5E9;
  border-radius: 5px;
}
.service-text {
  font-size: 18px;
  line-height: 1.6;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 506px;
  height: 89px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 7px 10px rgb(0, 0, 0,0.16);
}
.price-heading {
  font-size: 18px;
  line-height: 1.6;
  background-color: #FCE5E9;
  border-radius: 5px;
  padding: 8px 16px;
}
.price-text {
  font-size: 18px;
  line-height: 1.6;
  margin-left: 24px;
}
/* quesction */
.quesction {
  padding: 80px 0 120px;
}
.quesction-wrapper {
  max-width: 708px;
  margin: 0 auto;
}
.accordion_area {
  margin-top: 32px;
}
.accordion_one {
  margin-bottom: 31px;
}
.accordion_area .accordion_one .ac_header {
  background-color: #FCE5E9;
  border-radius: 5px;
  padding: 11px 0;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition: .2s;
}
.accordion_area .accordion_one .ac_header .i_box {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.accordion_area .accordion_one .ac_header .i_box:before, .accordion_area .accordion_one .ac_header .i_box:after {
  position: absolute;
  content: "";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
.accordion_area .accordion_one .ac_header .i_box:before {
  border-top: 2px solid #4D4D4D;
  width: 20px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.accordion_area .accordion_one .ac_header .i_box:after {
  border-left: 2px solid #4D4D4D;
  width: 0;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 9px;
  transition: .3s;
}
.accordion_area .accordion_one .ac_header.open .i_box:after {
  height: 0;
}
.accordion_area .accordion_one .ac_inner {
  display: none;
  padding: 16px 16px 56px;
  background: rgb(238,238,238,0.27);
}
.p-faq__headinner {
  display: block;
  padding-left: 16px;
  position: relative;
  line-height: 1.5;
}
.p-faq__headinner p.p-faq__q-txt {
  font-size: 18px;
}
/* reserve */
.reserve {
  background-image: url(../image/reserve-bg.jpg);
  height: 414px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
.reserve-contents {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 44px;
  text-align: center;
}
.reserve-btn {
  width: 446px;
  height: 108px;
  vertical-align: middle;
  display:  table-cell;
  background-color: #fff;
  border-radius: 54px;
  box-shadow: 0px 3px 6px rgb(0,0,0,0.16);
}
.reserve-heading {
  font-size: 18px;
  margin-bottom: 11px;
  line-height: 1.4;
  text-shadow: 1px 1px 6px rgb(128, 122, 111,0.22);
}
.reserve-dial-btn-tel {
  font-size: 28px;
  line-height: 1.4;
}
.reserve-dial-btn-text {
  font-size: 14px;
  line-height: 1.4;
}
.reserve-dial-btn-tel-img {
  width: 6%;
  padding-left: 3px;
  vertical-align: -3px;
}
.reserve-btn-site {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserve-btn-site-text{
  font-size: 28px;
  line-height: 1.4;
}
.reserve-site-img {
  position: absolute;
  right: 105px;
  display: block;
}
/* access */
.access {
  max-width: 945px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 58px;
}
.access-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
.access-address {
  margin-top: 8px;
  margin-bottom: 24px;
}
.access-address-heading {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  padding-right: 16px;
}
.access-address-text {
  font-size: 18px;
  line-height: 1.6;
}
.access-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}
.map {
  width: 470px;
}
.table {
  margin-top: 24px;
  width: 422px;
  font-weight: normal;
}
.table-heading {
  font-size: 16px;
  color: #fff;
  background-color: #D66880;
  height: 47px;
}
.table-heading th {
  vertical-align: middle;
}
.table-text {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 1px #707070;
}
.table-text td {
  vertical-align: middle;
}
.table-heading-first {
  padding: 11px 54px 11px 45px;
  width: 163px;
}
.table-heading-second {
  padding-right: 21px;
}
.table-text-first { 
  width: 163px;
  padding: 8px 29px 8px 14px ;
}
.table-text-second {
  padding-right: 21px;
}
/* footer */
.footer {
  background-color: #FCE5E9;
  text-align: center;
  padding: 36px 0;
}
.copyright {
  font-size: 16px;
  line-height: 2.1;
}
/* スマホ */
@media screen and (max-width:599px) {
  .header {
    width: 95%;
    margin: 0 auto;
  }
  .header-contents {
    display: block;
  }
  .header-btn {
    display: none;
  }
  .tel-reserve-btn {
    margin-bottom: 2%;
  }
  .mv {
    background-image: url(../image/sp-mv.jpg);
    height: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mv-copy {
    width: 70%;
    padding-left: 5%;
  }
  .mv-list {
    display: none;
  }
  .sp-btn {
    display: block;
    margin-top: 5%;
  }
  .web-reserve-btn {
    width: inherit;
  }
  .concept {
    position: initial;
    margin: 5%;
  }
  .concept-point01:before {
    bottom: -140px;
  }
  .concept-point02:before {
    right: auto;
    bottom: -1220px;
  }
  .concept-point03:before {
    bottom: -1540px;
  }
  .concept-point01,.concept-point02,.concept-point03 {
    position: static;
    display: block;
  }
  .concept-point-contents,.concept-point-contents-point02,.concept-point-contents-point03 {
    padding: 10% 3%;
    margin: inherit;
  }
  .concept-text {
    font-size: 1rem;
    width: 350px;
    word-wrap: break-word;
  }
  .concept-point-wrapper,.concept-point-wrapper-point02,.concept-point-wrapper-point03{
    display: block;
    position: static;
    width: inherit;
    height: inherit;
  }
  .concept-img,.concept-img-point2 {
    margin-top: 5%;
    position: static;
  }
  .concept-img img {
    width: 100%;
  }
  .concept-img-point2 img {
    width: 100%;
  }
  .about-contents {
    padding: 5%;
  }
  .service-contents {
    display: block;
    margin: 5%;
  }
  .price {
    width: 360px;
  }
  .office-whitening,.dual-whitening{
    margin-bottom: 5%;
  }
  .quesction-wrapper {
    margin: 5%;
  }
  .p-faq__q-txt {
    width: 300px;
    word-wrap: break-word;
  }
  .reserve {
    height: 550px;
  }
  .reserve-contents {
    display: block;
    margin: 5%;
  }
  .reserve-site-img {
    right: 60px;
  }
  .reserve-dial,.reserve-site {
    margin-bottom: 5%;
  }
  .access-wrapper {
    margin: 5%;
    display: block;
    width: 360px;
  }
  .map {
    margin-top: 10%;
    width: 360px;
  }
}